.calendar-month-select {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--zIndex-month-select);
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.calendar-month-select[class*='editing'] {
  display: flex;
}

.calendar-month-select .shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background-color: var(--color-default);
}

.calendar-month-select[class*='editing'] .shadow {
  animation: calendar-month-select-shadow-on 0.5s 1 forwards;
}

@keyframes calendar-month-select-shadow-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.calendar-month-select .content {
  width: 100%;
  position: relative;
  max-width: var(--max-width);
  transform: translateY(-100%);
}

.calendar-month-select[class*='editing'] .content {
  transform: translateY(0);
  animation: comeDown 0.5s 1 forwards;
}

.calendar-month-select .content .title,
.calendar-month-select .content .selector {
  background-color: var(--color-bg-1);
}

.calendar-month-select .content .title {
  padding: 8.4rem 2.8rem 2.8rem;
  position: relative;
}

.calendar-month-select .content .title h1 {
  font-size: 3.78rem;
  font-weight: 700;
  text-align: center;
}

.calendar-month-select .content .title button {
  position: absolute;
  left: 2.8rem;
  padding: 2.1rem;
}

.calendar-month-select .content .title button::before {
  background-color: var(--color-active);
}

.calendar-month-select .content .title button svg {
  width: 1.61rem;
}

.darkmode .calendar-month-select .content .title button svg path {
  stroke: white;
}


.calendar-month-select .content .bottom-wave {
  width: 100%;
  overflow: hidden;
}

.calendar-month-select .content .bottom-wave svg {
  width: 180%;
  transform: translateX(-10%);
  animation: month-select-wave 8s infinite alternate;
}

@keyframes month-select-wave {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(-12.5%);
  }
}

.darkmode .calendar-month-select .content .bottom-wave svg path {
  fill: var(--color-bg-1);
}

.calendar-month-select .content .selector {
  padding: 2.8rem 2.8rem;
}

.calendar-month-select .content .selector .selector-wrap {
  position: relative;
  width: 100%;
}

.calendar-month-select .content .selector .selector-wrap .highlight {
  width: 100%;
  border-radius: 5.6rem;
  height: 5.6rem;
  position: absolute;
  background-color: var(--color-box-bg-4);
  box-shadow: var(--shadow-editor);
}

.calendar-month-select .content .submit-wrap {
  width: 10.5rem;
  height: 10.5rem;
  position: absolute;
  top: calc(100% + 2.8rem);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.calendar-month-select .content .submit-wrap .submit {
  width: 100%;
  height: 100%;
  background-color: var(--color-active);
  border-radius: 50%;
  opacity: 0;
  overflow: hidden;
  animation: fadeInScale 0.4s 0.4s 1 forwards;
}

.calendar-month-select .content .submit-wrap .submit svg {
  width: 30%;
  position: relative;
}


.calendar-month-select[class*="editing"] .content .title button,
.calendar-month-select[class*="editing"] .content .title h1,
.calendar-month-select[class*="editing"] .content .selector .selector-wrap {
  opacity: 0;
  animation: fadeIn 0.4s 0.4s 1 forwards;
}