.calendar .table {
  padding: 0 1.96em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.calendar .table .tr {
  padding: 1.4em 0;
  width: 6.44em;
  margin-right: 1.12em;
  text-align: center;
}

.calendar .table .tr:nth-child(7n) {
  margin-right: 0;
}

.calendar .table .tr span {
  font-size: 1.54em;
  font-weight: 500;
}

.calendar .table .tr:nth-child(1) span {
  color: var(--color-red);
}

.calendar .table .tr:nth-child(7) span {
  color: var(--color-blue);
}

.calendar .table .td {
  width: 6.44em;
  margin-right: 1.12em;
  padding: 0.49em 0 1.4em;
  border-radius: var(--borderRadius-button);
  opacity: 0;
  animation: fadeIn 0.3s 1 forwards;
}

.calendar .table .td:nth-child(7n + 1) .numberBox span {
  color: var(--color-red);
}

.calendar .table .td:nth-child(7n) .numberBox span {
  color: var(--color-blue);
}

.calendar .table .restday .numberBox span {
  color: var(--color-red);
}

.calendar .table .td .numberBox {
  width: 4.9em;
  height: 4.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

.calendar .table .td .numberBox span {
  font-size: 2.52em;
  font-weight: 700;
}

.calendar .table .td:nth-child(7n) {
  margin-right: 0;
}

.calendar .table .td .schedule {
  height: 0.56em;
  padding-bottom: 1.4em;
}

.calendar .table .lastMonth .numberBox span,
.calendar .table .nextMonth .numberBox span,
.calendar .table .lastMonth .schedule,
.calendar .table .nextMonth .schedule {
  opacity: 0.1;
}

.calendar .table .today .numberBox {
  background-color: var(--color-today);
}

.calendar .table .today .numberBox span {
  color: white!important;
}

.calendar .table .td .numberBox::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.9em;
  height: 4.9em;
  border-radius: 50%;
  content: '';
  border: 0.21em solid var(--color-today);
  opacity: 0;
  transition: all 0.3s;
  box-sizing: border-box;
}

.calendar .table .active .numberBox::before {
  opacity: 1;
}

.calendar .table .today .numberBox::before {
  opacity: 1;
}