
.task-editor .editor-content .editor-repeat .editor-repeat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-editor .editor-content .editor-repeat .editor-repeat-header h2 {
  font-size: 3.36rem;
  font-weight: 700;
}

.task-editor .editor-content .editor-repeat .editor-repeat-header .cycle {
  padding: 0.56rem 1.4rem;
  background-color: var(--color-box-bg);
  border-radius: var(--borderRadius-button);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-editor .editor-content .editor-repeat .editor-repeat-header .cycle span {
  display: block;
  transform: translateY(-200%);
  transition: transform 0.3s;
  position: absolute;
  font-size: 1.54rem;
  font-weight: 700;
  animation: editor-repeat-cycle-off 0.3s 1 forwards;
}

.task-editor .editor-content .editor-repeat .editor-repeat-header .cycle span:nth-child(1) {
  position: relative;
}

.task-editor
  .editor-content
  .editor-repeat[class*='single']
  .editor-repeat-header
  .cycle
  span:nth-child(1) {
  transform: translateY(0);
  animation: editor-repeat-cycle 0.3s 1 forwards;
}

.task-editor
  .editor-content
  .editor-repeat[class*='day']
  .editor-repeat-header
  .cycle
  span:nth-child(2) {
  transform: translateY(0);
  animation: editor-repeat-cycle 0.3s 1 forwards;
}

.task-editor
  .editor-content
  .editor-repeat[class*='week']
  .editor-repeat-header
  .cycle
  span:nth-child(3) {
  transform: translateY(0);
  animation: editor-repeat-cycle 0.3s 1 forwards;
}

.task-editor
  .editor-content
  .editor-repeat[class*='month']
  .editor-repeat-header
  .cycle
  span:nth-child(4) {
  transform: translateY(0);
  animation: editor-repeat-cycle 0.3s 1 forwards;
}

.task-editor
  .editor-content
  .editor-repeat[class*='year']
  .editor-repeat-header
  .cycle
  span:nth-child(5) {
  transform: translateY(0);
  animation: editor-repeat-cycle 0.3s 1 forwards;
}

@keyframes editor-repeat-cycle {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes editor-repeat-cycle-off {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}