.todoListLI {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 1rem;
}

.todoListLI .label {
  width: calc(100% - 5.74rem);
  max-width: calc(100% - 5.74rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.4em;
  border-radius: var(--borderRadius-button);
}

.todoListLI .label .checkbox {
  width: 2.8em;
  height: 2.8em;
  border-radius: 0.7em;
  background-color: var(--color-checkbox);
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}

.todoListLI .label .checkbox svg {
  width: 80%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.3s;
}

.todoListLI .label .workToDo {
  font-size: 2.52em;
  font-weight: 600;
  padding-left: 2.1rem;
}

.todoListLI .label[class*='complete'] .workToDo {
  opacity: 0.3;
}

.todoListLI .label[class*='complete'] .checkbox,
.todoListLI .label[class*='complete'] .checkbox svg {
  opacity: 1;
}

.todoListLI .edit {
  padding: 1.4em;
  margin-left: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius-button);
}

.todoListLI .edit .circleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoListLI .edit .circleGroup .circle {
  width: 0.56rem;
  height: 0.56rem;
  background-color: #bcbcbc;
  border-radius: 50%;
  margin-right: 0.28rem;
  display: block;
}

.todoListLI .edit .circleGroup .circle:last-child {
  margin-right: 0;
}
