.editor-date-selector {
  padding: 4.2rem 2.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-date-selector .highlight {
  width: calc(100% - 5.6rem);
  border-radius: 5.6rem;
  height: 5.6rem;
  position: absolute;
  background-color: var(--color-box-bg-2);
  box-shadow: var(--shadow-editor);
}
