.basic-checkbox {
  width: 4.06rem;
  height: 4.06rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.2;
  transition: var(--transition-opacity-2);
}

.basic-checkbox svg {
  width: 55%;
  height: 55%;
  opacity: 1;
  transition: var(--transition-opacity-2);
}

.basic-checkbox[class*='checked'],
.basic-checkbox[class*='checked'] svg {
  opacity: 1;
}
