.numberRotate {
  position: relative;
  overflow: hidden;
}

.numberRotate .wrapper {
  transition: transform 0.5s var(--timingFunction-easeOut);
}

.numberRotate .wrapper h1 {
  font-size: 3.78em;
  font-weight: 700;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}

.numberRotate .wrapper h1:nth-child(1) {
  position: relative;
}