.calendar-year-month-selector {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: var(--zIndex-year-month-selector);
  display: none;
  justify-content: center;
  align-items: flex-start;
}

.calendar-year-month-selector[class*='active'],
.calendar-year-month-selector[class*='closing'] {
  display: flex;
}

.calendar-year-month-selector .shadow {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
}

.calendar-year-month-selector[class*='active'] .shadow {
  animation: calendar-shadow-on 0.3s 1 forwards;
}

.calendar-year-month-selector[class*='closing'] .shadow {
  animation: calendar-shadow-off 0.3s 1 forwards;
}

@keyframes calendar-shadow-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes calendar-shadow-off {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

.calendar-year-month-selector .selector {
  padding: 8.4rem 2.8rem 4.2rem;
  position: relative;
  background-color: var(--color-bg2);
  width: 100%;
  max-width: 602px;
  border-bottom-left-radius: var(--borderRadius-section);
  border-bottom-right-radius: var(--borderRadius-section);
}

.calendar-year-month-selector .selector .body {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-year-month-selector .selector .white-highlight {
  width: calc(100% - 5.6rem);
  border-radius: var(--borderRadius-box);
  height: 5.6rem;
  position: absolute;
  background-color: var(--color-box-bg3);
}
