.task-editor .editor-content .editor-repeat .cycle-wrap .cycle-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.4rem;
  border-radius: var(--borderRadius-box);
}

.task-editor .editor-content .editor-repeat .cycle-wrap .cycle-button .radio {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-radio-bg);
}

.task-editor .editor-content .editor-repeat .cycle-wrap .cycle-button .radio .radio-highlight {
  border-radius: 50%;
  width: 1.68rem;
  height: 1.68rem;
  background-color: var(--color-radio-highlight);
  opacity: 0;
  transform: scale(0.01);
  transition: opacity 0.3s, transform 0.3s;
}

.task-editor .editor-content .editor-repeat .cycle-wrap .cycle-button h2 {
  font-weight: 700;
  font-size: 2.52rem;
  margin-left: 2.1rem;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.task-editor
  .editor-content
  .editor-repeat[class*='single']
  .cycle-single
  .cycle-button
  .radio
  .radio-highlight {
  opacity: 1;
  transform: scale(1);
}

.task-editor .editor-content .editor-repeat[class*='single'] .cycle-single .cycle-button h2 {
  opacity: 1;
}

.task-editor
  .editor-content
  .editor-repeat[class*='day']
  .cycle-day
  .cycle-button
  .radio
  .radio-highlight {
  opacity: 1;
  transform: scale(1);
}

.task-editor .editor-content .editor-repeat[class*='day'] .cycle-day .cycle-button h2 {
  opacity: 1;
}

.task-editor
  .editor-content
  .editor-repeat[class*='week']
  .cycle-week
  .cycle-button
  .radio
  .radio-highlight {
  opacity: 1;
  transform: scale(1);
}

.task-editor .editor-content .editor-repeat[class*='week'] .cycle-week .cycle-button h2 {
  opacity: 1;
}

.task-editor
  .editor-content
  .editor-repeat[class*='month']
  .cycle-month
  .cycle-button
  .radio
  .radio-highlight {
  opacity: 1;
  transform: scale(1);
}

.task-editor .editor-content .editor-repeat[class*='month'] .cycle-month .cycle-button h2 {
  opacity: 1;
}

.task-editor
  .editor-content
  .editor-repeat[class*='year']
  .cycle-year
  .cycle-button
  .radio
  .radio-highlight {
  opacity: 1;
  transform: scale(1);
}

.task-editor .editor-content .editor-repeat[class*='year'] .cycle-year .cycle-button h2 {
  opacity: 1;
}