.calendar-table-cell {
  width: 7.4rem;
  margin-bottom: 1rem;
  opacity: 0.1;
  transition: opacity 0.25s;
}

.calendar-table-cell:hover {
  opacity: 0.3;
}

.calendar-table-cell[class*='current-month'] {
  opacity: 1;
}

.calendar-table-cell[class*='restday'] .date span {
  color: var(--color-red);
}

.calendar-table-cell button {
  width: 100%;
  border-radius: var(--borderRadius-button);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0 1.8rem 0;
}

.calendar-table-cell button .date {
  border-radius: 50%;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  /* background-color: pink; */
}

.calendar-table-cell button .date span {
  font-size: 2.52rem;
  font-weight: 700;
}

.calendar-table-cell button .todo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-table-cell button .todo .task {
  width: 0.56rem;
  height: 0.56rem;
  border-radius: 50%;
  background-color: var(--color-red);
  margin-right: 0.21rem;
  opacity: 0.3;
}

.calendar-table-cell button .todo .task:last-child {
  margin-right: 0;
}

.calendar-table-cell button .todo .task[class*='complete'] {
  opacity: 1;
}
