.editor-trash-button {
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 50%;
  background-color: var(--color-button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.6rem;
  z-index: var(--zIndex-task-editor-trash-button);
  opacity: 0;
  animation: editor-trash-open 0.3s 0.15s 1 forwards;
}

@keyframes editor-trash-open {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

.editor-trash-button::before {
  content: '';
  background-color: var(--color-default);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.2s;
  opacity: 0;
}

.editor-trash-button:hover::before {
  opacity: 0.15;
}

.editor-trash-button svg {
  width: 45%;
  position: relative;
}

.darkmode .editor-trash-button svg path {
  stroke: white;
}
