#calendar {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#calendar > .calendar-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#calendar > .calendar-bg img {
  display: block;
  width: 100%;
  transform: translateY(0%);
}

#calendar > .calendar-bg .effect-blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
}

.darkmode #calendar > .calendar-bg .effect-blur {
  background-color: rgba(0, 0, 0, 0.1);
}

#calendar > .calendar-content {
  width: 100%;
  position: relative;
  background-color: var(--color-bg-1);
  padding: 7.7rem 2.1rem 18rem;
  border-top-right-radius: var(--borderRadius-4);
  border-top-left-radius: var(--borderRadius-4);
  box-shadow: 0 0 3.5rem rgba(40, 72, 94, 0.3);
  animation: calendar-content-open 0.5s 1 forwards;
}

@keyframes calendar-content-open {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.darkmode #calendar > .calendar-content {
  box-shadow: 0 0 3.5rem rgba(40, 72, 94, 0.5);
}