.calendar .month-selecter {
  width: 100%;
  padding: 2.1em 1.4em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.calendar .month-selecter button {
  padding: 1.4em;
  border-radius: var(--borderRadius-button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar .month-selecter button svg {
  position: relative;
  width: 1.4em;
}