:root {
  font-size: 10px;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg2);
}

.stage {
  background-color: var(--color-bg);
  position: relative;
  width: 100%;
  max-width: 602px;
  margin: auto;
  font-size: 10px;
  min-height: calc(100vh + 14rem);
}

@media screen and (max-width: 602px) {
  :root,
  .stage {
    font-size: 1.661vw;
  }
}