/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

/* Root Variable*/
:root {
  --fontFamily-default: 'Inter', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'sans-serif';
  --fontWeight-default: 400;
  --lineHeight-default: 1.4;
  --lineHeight-short: 1.2;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  user-select: none;
  flex-shrink: 0;
  -webkit-user-drag: none;

  /* device reset */
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  appearance: none;

  line-height: var(--lineHeight-default);
  font-weight: var(--fontWeight-default);
}

body,
html {
  min-height: 100%;
}

body {
  font-family: var(--fontFamily-default);
  width: 100%;
  overflow-x: hidden;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* 최소 디바이스 */
@media screen and (max-width: 602px) {
  /* html {
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    min-width: 602px;
  } */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

input,
select,
textarea,
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  vertical-align: middle;
  border-radius: 0;
}

caption {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

figure {
  line-height: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

/* only for this app */
:root {
  --zIndex-header: 50;
  --zIndex-aside: 100;
  --zIndex-aside-trigger: 150;
  --zIndex-task-editor: 300;

  --transition-hover-default: opacity 0.2s;
  --timingFunction-easeOut: cubic-bezier(0.23, 1, 0.32, 1);

  --color-bg: #fefefe;
  --color-bg2: #f3f3f3;
  --color-bg3: #ECECEC;
  --color-default: black;
  --color-reverse: white;
  --color-hover-default: #ffeeee;
  --color-box-bg: #d9d9d9;
  --color-box-bg2: #FFFFFF;

  --color-red: #eb4b67;
  --color-blue: #4b6eeb;
  --color-today: #ff6a84;
  --color-today-bg: #FFB2BF;
  --color-currentDay: #6d0016;
  --color-checkbox: #f46b6b;
  --color-line: rgba(244, 107, 107, 0.3);

  --borderRadius-button: 0.7em;
}

.darkmode {
  --color-bg: #121316;
  --color-bg2: #393939;
  --color-bg3: #505050;
  --color-default: white;
  --color-reverse: black;
  --color-hover-default: #724a4a;
  --color-box-bg: #777777;
  --color-box-bg2: #444444;
  --color-currentDay: #fbcfd8;
  --color-today-bg: #F29DAC;
}

body {
  background-color: var(--color-bg);
}

* {
  color: var(--color-default);
}

img {
  width: 100%;
  display: block;
}

.canHover {
  position: relative;
  overflow: hidden;
}

.canHover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: '';
  background-color: var(--color-hover-default);
  opacity: 0;
  transition: var(--transition-hover-default);
  box-sizing: border-box;
}

.canHover:hover::before {
  opacity: 1;
}

@media screen and (max-width: 602px) {
  .canHover:hover::before {
    opacity: 0;
  }
}

.canHover * {
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}
