.dayInfoHead {
  width: 100%;
  padding: 2.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dayInfoHead .dayInfoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dayInfoHead .dayInfoBox h1 {
  font-size: 3.36rem;
  font-weight: 700;
  margin-right: 1.5rem;
}

.dayInfoHead .dayInfoBox p {
  font-size: 1.68rem;
}

.dayInfoHead .dayInfoBox .saturday {
  color: var(--color-blue);
}

.dayInfoHead .dayInfoBox .restDay,
.dayInfoHead .dayInfoBox .sunday {
  color: var(--color-red);
}

.dayInfoHead .ddayBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayInfoHead .ddayBox span {
  background-color: var(--color-box-bg);
  border-radius: var(--borderRadius-button);
  display: block;
  color: black;
  padding: 0.7rem 1.05rem;
  font-size: 1.54rem;
  font-weight: 700;
}