.calendar-dayInfo {
  width: 100%;
  padding: 0 2.8rem;
  border-top: 1px solid var(--color-line);
}

.calendar-dayInfo .about-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 0;
}

.calendar-dayInfo .about-day .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.calendar-dayInfo .about-day .info h1 {
  font-size: 3.36rem;
  font-weight: 700;
}

.calendar-dayInfo .about-day .info p {
  font-size: 1.68rem;
  font-weight: 500;
  margin-left: 1.5rem;
}

.calendar-dayInfo .about-day .info[class*='red'] h1,
.calendar-dayInfo .about-day .info[class*='red'] p {
  color: var(--color-red);
}

.calendar-dayInfo .about-day .info[class*='blue'] h1,
.calendar-dayInfo .about-day .info[class*='blue'] p {
  color: var(--color-blue);
}

.calendar-dayInfo .about-day .dday {
  border-radius: var(--borderRadius-button);
  background-color: var(--color-box-bg);
  padding: 0.5rem 1rem;
}

.calendar-dayInfo .about-day .dday span {
  font-size: 1.54rem;
  font-weight: 700;
  color: black;
  letter-spacing: -0.05rem;
}
